@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("img/uqhhye62qcg41.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.bg-img{
  position:relative;
  background: url(../src/img/2348073.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 2px 15px 90px #adff2f;
  
}

.bg-img::after{
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0);
  width: 120%;
  height: 120%;
  z-index: -999;
  border-radius: 99px;
  box-shadow: 2px 15px 40px greenyellow;
}
