@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("img/uqhhye62qcg41.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.bg-img{
  background: url(../src/img/2348073.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: scale(80%);
  transition: transform .5s ease;
}
.bg-img:focus-within{
  transform: scale(100%);
  box-shadow: 0 15px 50px greenyellow;
}

.portal{
  background: url(../src/img/4-47559_rick-and-morty-portal-png-transparent-png-removebg-preview.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}