@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply font-Poppins
}
body {
  background-image: url("img/uqhhye62qcg41.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.bg-img{
  background: url(../src/img/2348073.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: scale(80%);
  transition: transform .5s ease;
}
.bg-img:focus-within{
  transform: scale(100%);
  box-shadow: 0 15px 50px greenyellow;
}

.portal{
  background: url(../src/img/4-47559_rick-and-morty-portal-png-transparent-png-removebg-preview.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.shadowtext {
  text-shadow: 2px 2px 2px black;
}

::selection{
  background-color: #acff2fcb;
  color: red ;
}